<h1>Using logger</h1>

<h2>Happy path</h2>
<li>
  <a href="{{url}}/happy">Everything is Ok</a>
</li>

<h2>Trigger a Logger action:</h2>
<lu>
  <li>
    <a href="{{url}}/logger-action/error">Logger.error(error: Error)</a>
  </li>
  <p/>
  <li>
    <a href="{{url}}/logger-action/error-string">Logger.error(message: string)</a>
  </li>
  <p/>
  <li>
    <a href="{{url}}/logger-action/warning">Logger.warn(error: Error)</a>
  </li>
  <p/>
  <li>
    <a href="{{url}}/logger-action/warning-string">Logger.warn(message: string)</a>
  </li>
  <p/>
  <li>
    <a href="{{url}}/logger-action/info">Logger.info(message: string)</a>
  </li>
  <p/>
  <li>
    <a href="{{url}}/logger-action/debug">Logger.debug(message: string)</a>
  </li>
  <p/>
  <li>
    <a href="{{url}}/logger-action/abra-cadabra">Throw an unhandled exception in a router</a>
  </li>
</lu>
